# Market Research for Digital Art Prints on Etsy
### Looking into current market for digital art prints of nature 

What, why how

*Examples of customer photos used in this work include couple photos for anniversaries and friend group photos/sibling photos for birthdays.*

Although this research is not extensive, I can still get a glimpse of the current market for this product. To conduct this work, I refrenced advice given by content creator Creative Hive in her video, How to Price Art Prints. Specific notes followed are listed at the end of this notebook.

Last Updated: August 2, 2023

## Etsy Artists

Sampled five artists on Etsy that feature similar artwork. Took note of their pricing, production time, delivery time, sales, reviews and shop policies.

**Notes on descriptions:**
* My opinion on product quality (consider colors, details/texture vs price): wow!!, wow!, wow, meh
* Bestseller: Item has had a high sales volume over the past 6 months
* Etsy's Pick: Selected by Etsy's style and trend editors
* Star seller: The seller consistently earned 5-star reviews, shipped on time, and replied quickly to any messages they received
* Rave reviews: Average review rating is 4.8 or higher

**LisaNohrenDesigns (meh) *bestseller**
* \$10 for flower digital print in 5 different JPG files, 300-dpi high-resolution
* Abstract Floral Plant Printable Wall Art Botanical Leaves Navy Blue Neutral Boho Art Digital Downloadable Instant Download Living Room Art
* Download immediately
* Star seller
* 1,384 reviews for shop, 39 reviews for item
* No refunds
* Shop:
    * 13,189 sales

**PrinterJohnson (really cool) *Etsy's pick**
* \$16.72 for boho plant digital print
* 'Hacienda' (landscape) is an A4 digital print and part of my Tropics collection
* Materials: 300gsm card stock, GF Smith card stock, FSC certified, grey board backed, size: 11 in width, 8 in height. Each print is backed with grey board, wrapped in cellophane, wrapped in paper and placed in a card backed envelope before posting to ensure it reaches you in perfect condition.
* Ships out 5-7 days, but not to U.S
* Star seller
* 1,866 reviews for shop, 23 reviews for item
* No refunds
* Shop:
    * 8,119 sales

**LeahPayneArt (wow!)** 
* \$15 for "Art Print "Summer Nights" 5"x7" Cute Nature Flower Moon Moth Night Gouache Illustration Fine Art Print"
* order today, get by Aug 4-12 (today Aug 2), cost to ship $4.13
* Materials: Giclée Print on Archival Matte Stock
* "Summer Nights" is a 5 inch x 7 inch fine art giclee matte print. The original painting was done in gouache and colored pencil. The paper has a matte finish and is archival quality.
* Star seller
* 211 reviews for shop, 4 reviews for item
* No refunds
* Shop:
    * 549 sales

**PippasArtStudio (wow!)** 
* \$15 for "Soft Dark Forest Path Painting Art Print | Mysterious Forest Path | Fairylight Art | Into the Woods Fantasy Forest by Philippa von Rekowski"
*4in x 6in - $11.46 for matt archival or glossy photo paper 
* order today, get by Aug 9-23 (today Aug 2), free shipping
* "This print features a path into a dark forest, only the outer branches, trees and shrubs catch the sunlight. Fireflies and fairylights dance among the scene, their orange glow painting the leaves around them in various colors. The dark in this forest setting is a deep blue, creating a soft contrast to the clearing before the forest."
* Materials: I package them by using a cellophane bag to seal the prints from water damage. They are shipped in a cardborad reinforced envelope and come with a handwritten thank you card, and other commodities.
* 112 reviews for shop, 16 reviews for item
* Returns accepted within 21 days
* Shop:
    * 255 sales
    
**drfrankensara (wow!) *sold out**
* \$6 for "Under the Orange Tree, Mini Art Print, Fruit Painting, 4x6 Botanical Artwork, Home Decor Gift For Friend, Girlfriend, or Mother’s Day"
* order today, get by Aug 9-23 (today Aug 2), free shipping
* Details:
- Printed on Heavy Textured Felt Card Stock in the USA.
- Uncoated on both sides.
- The size of the print is 4x6 postcard size.
- A free mini print & sticker are included in every order!
- Ships in a stamped envelope.
* "This print features a path into a dark forest, only the outer branches, trees and shrubs catch the sunlight. Fireflies and fairylights dance among the scene, their orange glow painting the leaves around them in various colors. The dark in this forest setting is a deep blue, creating a soft contrast to the clearing before the forest."
* Materials: gouache, acryla gouache, felt cardstock, cardstock, gouache paint, acrylic gouache, blue, orange, green, yellow, textured paper, paint, print; width 4in x height 6in
* 89 reviews for shop, 27 reviews for item
* Returns and exchanges accepted 
* star seller
* Shop:
    * 636 sales

In [1]:
import numpy as np
import pandas as pd
# import matplotlib as plt
# import seaborn as sns

In [2]:
shops = ["LisaNohrenDesigns", "PrinterJohnson", "LeahPayneArt", "PippasArtStudio", "drfrankensara"]
shops_dict = {k:{} for k in shops}
shops_dict

{'LisaNohrenDesigns': {},
 'PrinterJohnson': {},
 'LeahPayneArt': {},
 'PippasArtStudio': {},
 'drfrankensara': {}}

In [14]:
#bestseller: yes == 1, no == 0
#sales: total shop sales
#time: time in hours to deliver, 0 if downloaded 
#price: in dollars
#size: photo size in inches and NaN if digital

shops_dict["LisaNohrenDesigns"] = {"bestseller": 1,
                                   "sales": 13189,
                                "shop_reviews": 1384, 
                                   "item_reviews": 39,
                                   "time": 0,
                                   "price": 10,
                                   "size": "NaN"
                                  }

shops_dict["PrinterJohnson"] = {"bestseller": 0,
                               "sales":8119,
                                "shop_reviews": 1866, 
                               "item_reviews": 23,
                               "time": 7,
                               "price": 16.72,
                               "size": "NaN"
                           }

shops_dict["LeahPayneArt"] = {"bestseller": 0,
                               "sales": 549,
                              "shop_reviews": 211,
                               "item_reviews": 4,
                               "time": 10,
                               "price": 15,
                               "size": [5,7]
                           }

shops_dict["PippasArtStudio"] = {"bestseller": 0,
                               "sales": 255,
                                "shop_reviews": 112,
                               "item_reviews": 16,
                               "time": 21,
                               "price": 15,
                               "size": [4,6]
                           }

shops_dict["drfrankensara"] = {"bestseller": 0,
                               "sales": 636,
                               "shop_reviews": 89,
                               "item_reviews": 27,
                               "time": 21,
                               "price": 6,
                               "size": [4,6]
                           }

## Determing price of traditional and digital art commissions

\* Focusing on nature-focused, painted art

In [15]:
shops_df = pd.DataFrame(shops_dict)
shops_df = shops_df.transpose()
shops_df

,bestseller,sales,shop_reviews,item_reviews,time,price,size
LisaNohrenDesigns,1,13189,1384,39,0,10,NaN
PrinterJohnson,0,8119,1866,23,7,16.72,NaN
LeahPayneArt,0,549,211,4,10,15,"[5, 7]"
PippasArtStudio,0,255,112,16,21,15,"[4, 6]"
drfrankensara,0,636,89,27,21,6,"[4, 6]"

In [16]:
#Focus on bestsellers only
bestsellers_df = shops_df[shops_df["bestseller"] == 1]
bestsellers_df.replace("NaN", 0, inplace = True)
bestsellers_df

/Users/emilylopez/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,bestseller,sales,shop_reviews,item_reviews,time,price,size
LisaNohrenDesigns,1,13189,1384,39,0,10,0

In [22]:
reviews = shops_df[["shop_reviews","item_reviews"]] #.sort_values(by = , ascending = False)
reviews

                  shop_reviews item_reviews
LisaNohrenDesigns         1384           39
PrinterJohnson            1866           23
LeahPayneArt               211            4
PippasArtStudio            112           16
drfrankensara               89           27

In [39]:
reviews_ratio = shops_df["item_reviews"]/shops_df["shop_reviews"]
reviews_ratio = pd.DataFrame(reviews_ratio).rename(columns = {0:"Ratio of Item to Shop Reviews"})
reviews_ratio.sort_values(by = "Ratio of Item to Shop Reviews", ascending = False)

                  Ratio of Item to Shop Reviews
drfrankensara                          0.303371
PippasArtStudio                        0.142857
LisaNohrenDesigns                      0.028179
LeahPayneArt                           0.018957
PrinterJohnson                         0.012326

Etsy seller **drfrankensara** has the highest proportion of item reviews to overall shop reviews, more than twice the second highest Etsy seller. The bestselling and highest shop reviewed Etsy seller in this list, **LisaNohrenDesigns** is third in this sorted reviews_ratio dataframe.

Here is a link to drfrankensara's [website](https://www.etsy.com/listing/1209269374/under-the-orange-tree-mini-art-print?show_sold_out_detail=1&ref=nla_listing_details) and below is a picture of the item in this list.

![Etsy image](https://www.etsy.com/listing/1209269374/under-the-orange-tree-mini-art-print?show_sold_out_detail=1&ref=nla_listing_details)

The prices of bestselling and highest item:shop review ratio:

In [47]:
shops_df.iloc[[0,4]]

,bestseller,sales,shop_reviews,item_reviews,time,price,size
LisaNohrenDesigns,1,13189,1384,39,0,10,NaN
drfrankensara,0,636,89,27,21,6,"[4, 6]"

Most selling artist sells digital prints and price is 10 dollars. The highest item:shop reviews ratio artist sells traditional art prints with 4in x 6in size for 6 dollars.